@model Breakfast.Areas.Weather.Models.OpenWeatherMap

<link rel="stylesheet" href="~/Content/WeatherModule.css">
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="~/Scripts/DarkMode.js"></script>

<div class='wrapper'>

    <search>
        @using (Html.BeginForm("Index", "OpenWeatherMap", FormMethod.Post))
        {
            <input class='searchbar transparent' id='search' name="zipcode" type='text' placeholder='enter city, country' />
            @*<input class='button transparent' id='button' type="submit" value='GO' />*@
            <div class="custom-control custom-checkbox" style="float:right">
                <input type="checkbox" id="mode" class="custom-control-input">
                <label class="custom-control-label" for="mode">Dark Mode</label>
            </div>
        }
        @*<div class="custom-control custom-checkbox" style="float:right">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Dark Mode</label>
            </div>*@
    </search>
    <div class='panel'>
        <h2 class='city' id='city'>@Model.city, @Model.country</h2>
        <div class='weather' id='weather'>
            <div class='group secondary'>
                <h3 id='dt' value="//dt"></h3>
                <h3 id='description'>@Model.description</h3>
            </div>
            <div class='group secondary'>
                <h3 id='wind'><nobr>Wind: @Model.windSpeed mph</nobr></h3>
                <h3 id='humidity'><nobr>Humidity: @Model.humidity%</nobr></h3>
                <h3 id='cloudiness'><nobr>Cloudiness: @Model.cloudiness%</nobr></h3>
            </div>
            <div class='temperature' id='temperature'>
                <h1 class='temp' id='temp'>
                    <i id='condition' value=@Model.condition></i>
                    <span id='num'>@Model.temperature</span>
                    <span class='fahrenheit active' id='fahrenheit'>&deg;@Model.temperatureType</span>
                </h1>
            </div>
            <div class='forecast' id='forecast'>

                @foreach (var item in Model.forecastDays)
                {
                    if (item != null)
                    {
                        <div class='block'>
                            <h3 class='secondary'>@item.day</h3>
                            <h2 class='high'>@item.tempMax</h2>
                            <h4 class='secondary'>@item.tempMin</h4>
                            @*<i id='condition' value=@item.condition></i>*@
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var icon = $('#condition');
        var condition = "@(Model.condition.Length > 1 ? Model.condition : "00d")";
        switch (condition) {
            case '01d':
                icon.addClass('wi wi-day-sunny');
                break;
            case '02d':
                icon.addClass('wi wi-day-sunny-overcast');
                break;
            case '01n':
                icon.addClass('wi wi-night-clear');
                break;
            case '02n':
                icon.addClass('wi wi-night-partly-cloudy');
                break;
        }

        switch (condition.substr(0, 2)) {
            case '03':
                icon.addClass('wi wi-cloud');
                break;
            case '04':
                icon.addClass('wi wi-cloudy');
                break;
            case '09':
                icon.addClass('wi wi-showers');
                break;
            case '10':
                icon.addClass('wi wi-rain');
                break;
            case '11':
                icon.addClass('wi wi-thunderstorm');
                break;
            case '13':
                icon.addClass('wi wi-snow');
                break;
            case '50':
                icon.addClass('wi wi-fog');
                break;
        }
    });

    $('#mode').on('change', function () {
        if ($(this).prop('checked')) {
            $('.wrapper').addClass('dark-mode');
        }
        else {
            $('.wrapper').addClass('dark-mode');
        }
    });
</script>