@model Breakfast.Areas.News.Models.NewsArticle

<p>
    <span><strong>@Model.Title</strong></span>
    <span>By @Model.Author</span>
    <span><a href="@Model.Url">@Model.Source</a></span>
    <span>Published @Model.PubDateTime</span>
    <span>@Model.Description</span>
</p>
