@model Breakfast.ViewModels.News

<link rel="stylesheet" href="~/Content/Settings.css">

<div class="wrapper-settings">
    <div class="window">
        <div class="nav-bar">
            <div class="title">
                News Settings
            </div>
        </div>
        <div class="settings">
            @using (Html.BeginForm("SaveNewsSettings", "Home", FormMethod.Post))
    {
        <div class="item">
            <div class="label">
                Enabled
            </div>
            <label class="switch">
                @Html.CheckBoxFor(m => m.Enabled, new { @checked = "checked" })
                <div class="slider"></div>
            </label>
        </div>
        <div class="item">
            <div class="label">
                Topics
            </div>
            @Html.TextBoxFor(m => m.Queries)
        </div>
        <div class="item">
            <div class="label">
                Domains
            </div>
            @Html.TextBoxFor(m => m.Domains)
        </div>
        <div class="item">
            <div class="label">
                Language
            </div>
            @Html.TextBoxFor(m => m.Language)
        </div>
        <div class="item">
            <div class="label">
                Num. of Articles
            </div>
            @Html.TextBoxFor(m => m.PageSize)
        </div>
        <div class="item subscribe">

            <input class="title" type="submit" value="Save" style="background-color: Transparent;">

        </div>
}
        </div>
    </div>
</div>