@{
    ViewBag.Title = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
<h1>Current user details</h1>
<p>Email: @User.Identity.Name</p>
<p>Zipcode: @Session["zipcode"]</p>
<p>Address: @Session["address"]</p>
<p>Work address: @Session["workaddress"]</p>

<p>
    <a href="@Url.Action("logout", "auth")">Log Out</a>
</p>
}

else
{
<h1><a href="@Url.Action("login", "auth")">Please log in</a></h1>
    <h2>Test account:</h2>
    <h4>Username: test@mail.com</h4>
    <h4>Password: password</h4>
}