<link rel="stylesheet" href="~/Content/Home.css">
<link rel="stylesheet" href="~/Content/Sidebar.css">
<script src="~/Scripts/angular.js"></script>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="~/Scripts/IndexScrolling.js"></script>
<script src="https://use.fontawesome.com/b6e164ee43.js"></script>
<script>var app = angular.module('sideBarApp', []);</script>


<div class="home-container">
    @*@Html.Partial("/Views/Home/_SideView.cshtml")*@

    <section class="sectionOnePage" id="i-one">
        <div class="image" data-type="background" data-speed="2"></div>
        <div class="stuff" data-type="content">
            @using Microsoft.AspNet.Identity
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()

                    <h1>
                        Welcome @User.Identity.Name! You can either <a style="text-decoration:underline;" href="@Url.Action("logout", "auth")">log out</a>
                        or continue scrolling to see your daily feed!
                    </h1>
                }
            }
            else
            {
                <h1>
                    Welcome! Please @Html.ActionLink("register", "Register", "auth", routeValues: null, htmlAttributes: new { id = "registerLink", style = "text-decoration:underline;" })
                    or @Html.ActionLink("log in", "LogIn", "auth", routeValues: null, htmlAttributes: new { id = "loginLink", style = "text-decoration:underline;" }) to view your daily feed!
                </h1>
            }
        </div>
    </section>

    <section class="sectionOnePage" id="i-two">
        <div class="image" data-type="background" data-speed="7"></div>
        @if (!Request.IsAuthenticated)
        {
        <div class="stuff" data-type="content">
            @*@Html.Partial("/Areas/Weather/Views/OpenWeatherMap/Index.cshtml", new Breakfast.Areas.Weather.Models.OpenWeatherMap())*@
            @*<nobr>
            Please @Html.ActionLink("register", "Register", "auth", routeValues: null, htmlAttributes: new { id = "registerLink", style = "text-decoration:underline;" }) or @Html.ActionLink("log in", "LogIn", "auth", routeValues: null, htmlAttributes: new { id = "loginLink", style = "text-decoration:underline;" }) to view weather
        </nobr>*@
        </div>
        }
    </section>

    <section class="sectionOnePage" id="i-three">
        <div class="image" data-type="background" data-speed="6"></div>
        @if (!Request.IsAuthenticated)
        {
            <div class="stuff" data-type="content">
                <nobr>
                    Please @Html.ActionLink("register", "Register", "auth", routeValues: null, htmlAttributes: new { id = "registerLink", style = "text-decoration:underline;" }) or @Html.ActionLink("log in", "LogIn", "auth", routeValues: null, htmlAttributes: new { id = "loginLink", style = "text-decoration:underline;" }) to view traffic
                </nobr>
            </div>
        }
    </section>

    <section class="sectionOnePage" id="i-four">
        <div class="image" data-type="background" data-speed="5"></div>
        @if (!Request.IsAuthenticated)
        {
            <div class="stuff" data-type="content">
                <nobr>
                    Please @Html.ActionLink("register", "Register", "auth", routeValues: null, htmlAttributes: new { id = "registerLink", style = "text-decoration:underline;" }) or @Html.ActionLink("log in", "LogIn", "auth", routeValues: null, htmlAttributes: new { id = "loginLink", style = "text-decoration:underline;" }) to view news
                </nobr>
            </div>
        }
    </section>

    <section class="sectionOnePage" id="i-five">
        <div class="image" data-type="background" data-speed="3"></div>
        <div class="stuff" data-type="content">Have a great day!</div>
    </section>
</div>